
:root{
    --secDeg: 0deg;
    --minDeg: 0deg;
    --hourDeg: 0deg;
    --heading-font-size: 2rem;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'digital-7';
    src: url("digital-7.ttf");
}

body{
    background-color: black;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#analogue-clock-container{
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    min-height: 100vh;
    color: black;
    height: auto;
    border: solid red 2px;
    background-image: url("old_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#digital-clock-container{
    border: solid red 2px;
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    color: turquoise;
    box-shadow: 5px 5px 5px 5px;
    height: auto;
    min-height: 100vh;
    background-image: url("new_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.clock-face{
    aspect-ratio: 1 / 1;
}

.outer-face{
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    background-color: darkolivegreen;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    border: solid purple;
}

.inner-face{
    width: 90%;
    background-color: aliceblue;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.hand{
    background-color: black;
    aspect-ratio: 1 / 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
}

.sec-hand{
    z-index: 5;
    width: 50%;
    transform: translate(0, -50%) rotate(var(--secDeg));
}

/*
The translate and rotate transforms need to be chained prooperly
otherwise they wil offset the center due to changes in the coordinate
system.
*/

.min-hand{
    z-index: 4;
    width: 45%;
    transform: translate(0, -50%) rotate(var(--minDeg));
}

/*It rotating clockwise starting from 3 oclock*/

.hour-hand{
    z-index: 3;
    width: 25%;
    transform: translate(0, -50%) rotate(var(--hourDeg));
    aspect-ratio: 1/ 0.2;
}

.pivot{
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 8%;
    border-radius: 50%;
}

#digital-clock-display{
    border: ridge black 5px;
    background-color: darkgreen;
    color: black;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'digital-7';
    width: 80%;
}

.heading{
    font-size: 3rem;
}


/*------------------------*/
/*    Media queries       */
/*------------------------*/

/* For Tablet View */
@media screen and (min-device-width: 768px) {
    html{
        font-size: 32px;
    }

  
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    html{
        font-size: 16px;
    }  
}